In [243]:
import pandas as pd
from functools import reduce

### Annual result cleaning

In [6]:
required_columns = ['Total Rev. Ann.',
'Operating Profit Ann.',
'OPM Ann. %',
'Net Profit Ann.',
'NPM Ann. %',
'EBITDA Ann.',
'EBITDA Ann. margin %']

to_be_drop = [
    'Annual Reports','Depr.',
    'EPS Adj. latest Ann.',
    'Depr.','Interest Ann.',
    'Operating Exp. Ann.',
    'PAT Before ExtraOrdinary Items Ann.',
    'PBT Ann.','Result Notes','Tax Ann.',
    'Total Exp. Ann.'
]

In [211]:
annual_df = (
    pd.
    read_csv(r'Annual result-2019.csv')
    .drop(['CAGR 3 Yrs','TTM','CAGR 5 Yrs'],axis=1)
    .melt(id_vars=['Company','Indicator'],
          value_vars=["Mar '24","Mar '23","Mar '22","Mar '21","Mar '20","Mar '19","Mar '18","Mar '17","Mar '16","Mar '15"],
         var_name='Year')
    # .duplicated().sum()
    # .drop_duplicates()
    .pivot(columns=['Indicator'],index=['Company','Year'],values='value').reset_index()
    .drop(['Annual Reports','Result Notes'],axis=1)
    # .dropna(how='all')
    
    
)
annual_df

Indicator,Company,Year,Depr.,EBITDA Ann.,EBITDA Ann. margin %,EPS Adj. latest Ann.,Interest Ann.,NPM Ann. %,Net Profit Ann.,OPM Ann. %,Operating Exp. Ann.,Operating Profit Ann.,PAT Before ExtraOrdinary Items Ann.,PBT Ann.,Tax Ann.,Total Exp. Ann.,Total Rev. Ann.
0,AB Infrabuild,Mar '15,1.8,9.5,10.41%,0.1,6.4,0.86%,0.8,9.70%,81.4,8.8,0.8,1.2,0.4,89.7,90.9
1,AB Infrabuild,Mar '16,1.4,7.8,10.42%,0.1,6,0.43%,0.3,9.58%,67.3,7.2,0.3,0.5,0.2,74.7,75.2
2,AB Infrabuild,Mar '17,1.3,6.8,9.14%,0,5,0.21%,0.2,8.41%,67.2,6.2,0.2,0.4,0.3,73.6,74
3,AB Infrabuild,Mar '18,1.1,9.3,15.20%,0.5,3.4,5.19%,3.2,14.29%,51.8,8.7,3.2,4.7,1.6,56.4,61.1
4,AB Infrabuild,Mar '19,0.9,8.8,15.76%,0.4,3.7,5.04%,2.8,13.88%,47.1,7.8,2.8,4.2,1.4,51.7,55.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
615,Xelpmoc Design,Mar '20,0.6,-1.4,-15.20%,-1.4,0.1,-26.27%,-2.1,-28.89%,10.8,-2.7,-2.1,-2.1,0.1,11.5,9.4
616,Xelpmoc Design,Mar '21,0.5,4.7,30.62%,2.7,0.1,28.79%,4.1,23.13%,10.5,3.5,4.1,4.1,0.1,11.1,15.2
617,Xelpmoc Design,Mar '22,0.1,-13.4,-144.72%,-8.7,NaN,-159.63%,-12.9,-157.75%,22.7,-14.6,-12.9,-13.5,-0.6,22.8,9.3
618,Xelpmoc Design,Mar '23,1.7,-12.2,-81.86%,-9.3,0.3,-102.44%,-13.8,-92.14%,27.2,-13.8,-13.8,-14.2,-0.4,29.1,15
619,Xelpmoc Design,Mar '24,2,-7.6,-97.02%,-6.9,0.2,-156.45%,-10.1,-114.30%,15.4,-9,-10.1,-9.8,0.4,17.6,7.8

In [26]:
annual_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 620 entries, 0 to 619
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Company                620 non-null    object
 1   Year                   620 non-null    object
 2   EBITDA Ann.            545 non-null    object
 3   EBITDA Ann. margin %   550 non-null    object
 4   NPM Ann. %             541 non-null    object
 5   Net Profit Ann.        543 non-null    object
 6   OPM Ann. %             550 non-null    object
 7   Operating Profit Ann.  545 non-null    object
 8   Total Rev. Ann.        541 non-null    object
dtypes: object(9)
memory usage: 43.7+ KB

- **Observations**:
    - `Year` should be in datetime format.
    - `EBITDA Ann.`, `EBITDA Ann. margin %`, `NPM Ann. % `, `Net Profit Ann.`, `OPM Ann. %`, `Operating Profit Ann.`,` Total Rev. Ann.`. These
       all columns have null values and in object format.

In [217]:
def Data_cleaning_annual_result(df):
    return (
        df
        .assign(
            **{
                col:df[col].str.strip()
                for col in df.select_dtypes(include='O')
            }
        )
        .assign(
            Year = lambda df_ : pd.to_datetime(df_['Year'].str.replace(" '",''),format="%b%y")
        )
        .rename(columns=str.lower)
        .assign(
            ebitda_ann = lambda df_ : pd.to_numeric(df_['ebitda ann.'].str.replace(',','')),
            ebitda_ann_margin = lambda df_ : pd.to_numeric(df_['ebitda ann. margin %'].fillna('0').str.replace("-","0").str.replace("%",'').str.replace(",",'')),
            npm_ann = lambda df_ : pd.to_numeric(df_['npm ann. %'].fillna('0').str.replace("%",'').str.replace(",",'')),
            net_profit_ann = lambda df_ : pd.to_numeric(df_['net profit ann.'].fillna('0').str.replace(",",'')),
            opm_ann = lambda df_ : pd.to_numeric(df_['opm ann. %'].fillna('0').str.replace("-","0").str.replace("%",'').str.replace(",",'')),
            operating_profit_ann = lambda df_ : pd.to_numeric(df_['operating profit ann.'].fillna('0').str.replace(",",'')),
            total_rev_ann = lambda df_ : pd.to_numeric(df_['total rev. ann.'].fillna('0').str.replace(",",''))
        )
        .drop(['ebitda ann.','ebitda ann. margin %','npm ann. %','net profit ann.','opm ann. %','operating profit ann.','total rev. ann.'],axis=1)
        .rename(columns={
            'ebitda_ann_margin':'ebitda ann. margin %',
            'npm_ann':'npm ann. %',
            'opm_ann':'opm ann. %'
        })
    )

In [221]:
Data_cleaning_annual_result(annual_df)

KeyError: 'Year'

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 620 entries, 0 to 619
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   company               620 non-null    object
 1   year                  620 non-null    datetime64[ns]
 2   ebitda_ann            545 non-null    float64
 3   ebitda ann. margin %  620 non-null    float64
 4   npm ann. %            620 non-null    float64
 5   net_profit_ann        620 non-null    float64
 6   opm ann. %            620 non-null    float64
 7   operating_profit_ann  620 non-null    float64
 8   total_rev_ann         620 non-null    float64
dtypes: datetime64[ns](1), float64(7), object(1)
memory usage: 43.7+ KB

### Cash Flow Cleaning

In [2]:
cash_df = (
    pd.read_csv('Cash Flow-2019.csv')
    .drop(['CAGR 3 Yrs','TTM','CAGR 5 Yrs'],axis=1)
    .melt(id_vars=['Company','Indicator'],
          value_vars=["Mar '24","Mar '23","Mar '22","Mar '21","Mar '20","Mar '19","Mar '18","Mar '17","Mar '16","Mar '15"],
         var_name='Year')
    .pivot(columns='Indicator',index=['Company','Year'],values='value').reset_index()
)
cash_df

Indicator,Company,Year,Cash from Financing Act. Ann.,Cash from Investing Act. Ann.,Cash from Operating Act. Ann.,Net Cash Flow Ann.
0,AB Infrabuild,Mar '15,-4.6,0.3,3,-1.3
1,AB Infrabuild,Mar '16,-12.8,0.4,10.6,-1.8
2,AB Infrabuild,Mar '17,-3.3,-0.3,3.7,0.2
3,AB Infrabuild,Mar '18,-1,-0.8,1.7,-0.1
4,AB Infrabuild,Mar '19,-3.3,0.9,1,-1.5
...,...,...,...,...,...,...
615,Xelpmoc Design,Mar '20,-0.7,3.4,-4.6,-1.9
616,Xelpmoc Design,Mar '21,-0.2,1.4,-0.9,0.2
617,Xelpmoc Design,Mar '22,26.8,-13.7,-2.3,10.8
618,Xelpmoc Design,Mar '23,-1.2,2.9,-12,-10.3
619,Xelpmoc Design,Mar '24,-1.8,9.1,-8.2,-0.8

In [3]:
def Data_Cleaning_Cash_FLow(df):
    return (
        df
        .assign(
            **{
                col : df[col].str.strip().str.lower()
                for col in df.select_dtypes(include=("O"))
            }
        )
        .rename(columns=str.lower)
        .assign(
            year = lambda df_: pd.to_datetime(df_['year'].str.replace(" '",''),format="%b%y"),
            cash_from_financing_act_ann = lambda df_ : pd.to_numeric(df_['cash from financing act. ann.'].str.replace(",","")),
            cash_from_investing_act_ann = lambda df_ : pd.to_numeric(df_['cash from investing act. ann.'].str.replace(",","")),
            cash_from_operating_act_ann = lambda df_ : pd.to_numeric(df_['cash from operating act. ann.'].str.replace(",","")),
            net_cash_flow_ann = lambda df_ : pd.to_numeric(df_['net cash flow ann.'].str.replace(",","").str.replace("-","0")),
        )
        .drop(['cash from financing act. ann.','cash from investing act. ann.','cash from operating act. ann.','net cash flow ann.'],axis=1)
    )

In [4]:
Data_Cleaning_Cash_FLow(cash_df).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 620 entries, 0 to 619
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   company                      620 non-null    object
 1   year                         620 non-null    datetime64[ns]
 2   cash_from_financing_act_ann  466 non-null    float64
 3   cash_from_investing_act_ann  462 non-null    float64
 4   cash_from_operating_act_ann  484 non-null    float64
 5   net_cash_flow_ann            473 non-null    float64
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 29.2+ KB

### Balance Sheet Cleaning

In [201]:
balance_df = (
    pd.read_csv('Balance Sheet-2019.csv')
    .drop(['CAGR 3 Yrs','TTM','CAGR 5 Yrs'],axis=1)
    .melt(id_vars=['Company','Indicator'],
          value_vars=["Mar '24","Mar '23","Mar '22","Mar '21","Mar '20","Mar '19","Mar '18","Mar '17","Mar '16","Mar '15"],
         var_name='Year')
    # .duplicated().sum()
    # .drop_duplicates()
    .pivot(columns=['Indicator'],index=['Company','Year'],values='value').reset_index()
)
balance_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 620 entries, 0 to 619
Data columns (total 15 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Company                                           620 non-null    object
 1   Year                                              620 non-null    object
 2   Bonus Equity Share Capital Ann.                   275 non-null    object
 3   Contingent Liabilities plus Commitments Ann.      235 non-null    object
 4   Current Investments Unquoted Book Value Ann.      52 non-null     object
 5   Fixed Assets Ann.                                 535 non-null    object
 6   Minority Interest Liability Ann.                  538 non-null    object
 7   Non Current Investments Unquoted Book Value Ann.  279 non-null    object
 8   Total Assets Ann.                                 550 non-null    object
 9   Total Capital Plus Liabilities Ann.               550 non-null    object
 10  Total Current Assets Ann.                         549 non-null    object
 11  Total Current Liabilities Ann.                    547 non-null    object
 12  Total Non Current Assets Ann.                     543 non-null    object
 13  Total Non Current Liabilities Ann.                498 non-null    object
 14  Total ShareHolders Funds Ann.                     549 non-null    object
dtypes: object(15)
memory usage: 72.8+ KB

### Concating all data

In [216]:
# annual_result_df = pd.DataFrame(columns=["Company","Indicator","CAGR 3 Yrs","CAGR 5 Yrs","TTM","Mar '25","Mar '24","Mar '23","Mar '22","Mar '21","Mar '20","Mar '19","Mar '18","Mar '17","Mar '16","Mar '15"])
# balance_sheet_df = pd.DataFrame(columns=["Company","Indicator","CAGR 3 Yrs","CAGR 5 Yrs","TTM","Mar '25","Mar '24","Mar '23","Mar '22","Mar '21","Mar '20","Mar '19","Mar '18","Mar '17","Mar '16","Mar '15"])
# cash_flow_df = pd.DataFrame(columns=["Company","Indicator","CAGR 3 Yrs","CAGR 5 Yrs","TTM","Mar '25","Mar '24","Mar '23","Mar '22","Mar '21","Mar '20","Mar '19","Mar '18","Mar '17","Mar '16","Mar '15"])
# financial_ratio_df = pd.DataFrame(columns=["Company","Indicator","CAGR 3 Yrs","CAGR 5 Yrs","TTM","Mar '25","Mar '24","Mar '23","Mar '22","Mar '21","Mar '20","Mar '19","Mar '18","Mar '17","Mar '16","Mar '15"])
# mainboard_df = pd.DataFrame(columns=["Company","LTP","Market Cap(in CR)","Listing date","Issue size","Issue price","QIB subscription","HNI subscription","Retail subscription","Total subscription","Listing open","Listing close","Listing gain","Current gain","Issue type"])
# sme_df = pd.DataFrame(columns=["Company","LTP","Market Cap(in CR)","Listing date","Issue size","Issue price","QIB subscription","HNI subscription","Retail subscription","Total subscription","Listing open","Listing close","Listing gain","Current gain","Issue type"])
# secondary_df = pd.DataFrame(columns=['Company', 'Subscritpion Status', 'Minimum Investment', 'Lot size','Issue size', 'No. of Shares', 'Price Range','Post issue promoter holding', 'Sector', 'Industry','Nse_symbol_Bse_Code'])

In [178]:
# for i in range(2019,2026):
#     df_ = pd.read_csv(f'Financial ratio-{i}.csv')
#     financial_ratio_df = pd.concat([financial_ratio_df,df_],ignore_index=True)

In [180]:
# for i in range(2019,2026):
#     df_ = pd.read_csv(f'Cash flow-{i}.csv')
#     cash_flow_df = pd.concat([cash_flow_df,df_],ignore_index=True)

In [186]:
# for year in range(2019,2026):
#     df_ = pd.read_csv(f'SME-{year}.csv')
#     sme_df = pd.concat([sme_df,df_])

In [188]:
# for year in range(2019,2026):
#     df_ = pd.read_csv(f'MAINBOARD-{year}.csv')
#     mainboard_df = pd.concat([mainboard_df,df_])

In [218]:
# for year in range(2019,2026):
#     df_ = pd.read_csv(f'Secondary data-{year}.csv')
#     secondary_df = pd.concat([secondary_df,df_],ignore_index=True)

In [220]:
# annual_result_df.to_csv("Annual-Result-2019-2025.csv")
# balance_sheet_df.to_csv("Balance-Sheet-2019-2025.csv")
# cash_flow_df.to_csv("Cash-Flow-2019-2025.csv")
# financial_ratio_df.to_csv("Financail_Ratio-2019-2025.csv")
# mainboard_df.to_csv('MainBoard-Data-2019-2025.csv')
# sme_df.to_csv('SME-Data-2019-2025.csv')
# secondary_df.to_csv('Secondary-Data-2019-2025.csv')

In [226]:
# print(pd.read_csv('Annual-Result-2019-2025.csv').Company.nunique())
# print(pd.read_csv('Balance-Sheet-2019-2025.csv').Company.nunique())
# print(pd.read_csv('Cash-Flow-2019-2025.csv').Company.nunique())
# print(pd.read_csv('Financail_Ratio-2019-2025.csv').Company.nunique())
# print(pd.read_csv('SME-Data-2019-2025.csv').Company.nunique())
# print(pd.read_csv('MainBoard-Data-2019-2025.csv').Company.nunique())
# print(pd.read_csv('Secondary-Data-2019-2025.csv').Company.nunique())

### next step

In [299]:
annual_df = pd.read_csv('Annual-Result-2019-2025.csv').drop('Unnamed: 0',axis=1)
balance_sheet_df = pd.read_csv('Balance-Sheet-2019-2025.csv').drop('Unnamed: 0',axis=1)
cash_flow_df = pd.read_csv('Cash-Flow-2019-2025.csv').drop('Unnamed: 0',axis=1)
financial_ratio_df = pd.read_csv('Financail_Ratio-2019-2025.csv').drop('Unnamed: 0',axis=1)
sme_df = pd.read_csv('SME-Data-2019-2025.csv').drop('Unnamed: 0',axis=1)
mainboard_df = pd.read_csv('MainBoard-Data-2019-2025.csv').drop('Unnamed: 0',axis=1)
secondary_df = pd.read_csv('Secondary-Data-2019-2025.csv').drop('Unnamed: 0',axis=1)

In [309]:
all_df = [annual_df,balance_sheet_df,cash_flow_df,financial_ratio_df,sme_df,mainboard_df,secondary_df]

In [313]:
# df = reduce(lambda left, right: pd.merge(left, right, on='Company',suffixes=('_left', '_right')), all_df)

In [ ]:
loop 6 
survet 2nd df se 
2nd df ko merge karunga 1st dataframe se 
resultant df me store karunga 
df.columns.str.replace('_left','')
fhir 2nd loop 
3rd df ko resultant ke sath merge karunga 
....